##### import the Diamond dataset

In [1]:
import pandas as pd
df=pd.read_csv("diamonds.csv")

In [2]:
df

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75
...,...,...,...,...,...,...,...,...,...,...,...
53935,53936,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50
53936,53937,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61
53937,53938,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56
53938,53939,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74
53939,53940,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64

###### 1. Write a Pandas program to find the number of rows and columns and data type of each column of diamonds Dataframe.

In [3]:
### code here
df.info()
print("Total number of Columns",len(df.columns))
print("Total number of Rows",len(df))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  53940 non-null  int64
 1   carat       53940 non-null  float64
 2   cut         53940 non-null  object
 3   color       53940 non-null  object
 4   clarity     53940 non-null  object
 5   depth       53940 non-null  float64
 6   table       53940 non-null  float64
 7   price       53940 non-null  int64
 8   x           53940 non-null  float64
 9   y           53940 non-null  float64
 10  z           53940 non-null  float64
dtypes: float64(6), int64(2), object(3)
memory usage: 4.5+ MB
Total number of Columns 11
Total number of Rows 53940

##### 2. Write a Pandas program to summarize only 'object' columns of the diamonds Dataframe.

In [4]:
### code here
print(df.describe(include=['object']))

          cut  color clarity
count   53940  53940   53940
unique      5      7       8
top     Ideal      G     SI1
freq    21551  11292   13065

###### 3. Write a Pandas program to remove the second column of the diamonds Dataframe. (don't use original dataset)

In [5]:
### code here
df1=df.drop(['carat'], axis=1)

In [6]:
df1

,Unnamed: 0,cut,color,clarity,depth,table,price,x,y,z
0,1,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75
...,...,...,...,...,...,...,...,...,...,...
53935,53936,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50
53936,53937,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61
53937,53938,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56
53938,53939,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74
53939,53940,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64

###### 4. Write a Pandas program to remove multiple rows at once (axis=0 refers to rows) from diamonds dataframe. (dont use original dataset)

In [7]:
### code here
df2=df.drop([1,2,3],axis=0)

In [8]:
df2

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75
5,6,0.24,Very Good,J,VVS2,62.8,57.0,336,3.94,3.96,2.48
6,7,0.24,Very Good,I,VVS1,62.3,57.0,336,3.95,3.98,2.47
7,8,0.26,Very Good,H,SI1,61.9,55.0,337,4.07,4.11,2.53
...,...,...,...,...,...,...,...,...,...,...,...
53935,53936,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50
53936,53937,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61
53937,53938,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56
53938,53939,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74
53939,53940,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64

###### 5. Write a Pandas program to sort the 'cut' Series in ascending order (returns a Series) of diamonds Dataframe.

In [9]:
df.sort_values(by=['cut'])

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
3850,3851,1.01,Fair,F,SI2,64.8,55.0,3477,6.37,6.26,4.10
51464,51465,1.20,Fair,G,I1,66.6,57.0,2376,6.57,6.50,4.34
51466,51467,0.90,Fair,G,SI2,65.4,57.0,2376,6.01,5.97,3.98
10237,10238,1.26,Fair,D,SI2,64.5,59.0,4746,6.75,6.71,4.34
10760,10761,1.01,Fair,E,SI1,69.5,55.0,4853,6.00,5.94,4.15
...,...,...,...,...,...,...,...,...,...,...,...
7402,7403,0.33,Very Good,G,VS2,62.8,54.0,579,4.40,4.42,2.77
43101,43102,0.57,Very Good,E,SI2,58.8,57.3,1384,5.42,5.46,3.21
16893,16894,1.00,Very Good,G,VS2,62.2,58.0,6743,6.35,6.39,3.96
16898,16899,1.00,Very Good,D,VS2,59.6,60.0,6745,6.52,6.57,3.90
21164,21165,1.00,Very Good,E,VVS2,61.7,55.0,9324,6.38,6.42,3.95

###### 6. Write a Pandas program to sort the entire diamonds DataFrame by the 'carat' Series in ascending and descending order.

In [10]:
### code here
df.sort_values(by=['carat'])

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
31593,31594,0.20,Premium,E,VS2,61.1,59.0,367,3.81,3.78,2.32
31597,31598,0.20,Ideal,D,VS2,61.5,57.0,367,3.81,3.77,2.33
31596,31597,0.20,Premium,F,VS2,62.6,59.0,367,3.73,3.71,2.33
31595,31596,0.20,Ideal,E,VS2,59.7,55.0,367,3.86,3.84,2.30
31594,31595,0.20,Premium,E,VS2,59.7,62.0,367,3.84,3.80,2.28
...,...,...,...,...,...,...,...,...,...,...,...
25999,26000,4.01,Premium,J,I1,62.5,62.0,15223,10.02,9.94,6.24
25998,25999,4.01,Premium,I,I1,61.0,61.0,15223,10.14,10.10,6.17
27130,27131,4.13,Fair,H,I1,64.8,61.0,17329,10.00,9.85,6.43
27630,27631,4.50,Fair,J,I1,65.8,58.0,18531,10.23,10.16,6.72
27415,27416,5.01,Fair,J,I1,65.5,59.0,18018,10.74,10.54,6.98

In [13]:
df.sort_values(by=['carat'], ascending=False)

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
27415,27416,5.01,Fair,J,I1,65.5,59.0,18018,10.74,10.54,6.98
27630,27631,4.50,Fair,J,I1,65.8,58.0,18531,10.23,10.16,6.72
27130,27131,4.13,Fair,H,I1,64.8,61.0,17329,10.00,9.85,6.43
25999,26000,4.01,Premium,J,I1,62.5,62.0,15223,10.02,9.94,6.24
25998,25999,4.01,Premium,I,I1,61.0,61.0,15223,10.14,10.10,6.17
...,...,...,...,...,...,...,...,...,...,...,...
31592,31593,0.20,Premium,E,VS2,59.0,60.0,367,3.81,3.78,2.24
31591,31592,0.20,Premium,E,VS2,59.8,62.0,367,3.79,3.77,2.26
31601,31602,0.20,Premium,D,VS2,61.7,60.0,367,3.77,3.72,2.31
14,15,0.20,Premium,E,SI2,60.2,62.0,345,3.79,3.75,2.27
31596,31597,0.20,Premium,F,VS2,62.6,59.0,367,3.73,3.71,2.33

###### 7. Write a Pandas program to filter the DataFrame rows to only show carat weight at least 0.3.

In [14]:
#### code here
df[df['carat']<=0.3]

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
5,6,0.24,Very Good,J,VVS2,62.8,57.0,336,3.94,3.96,2.48
...,...,...,...,...,...,...,...,...,...,...,...
53635,53636,0.30,Ideal,I,VVS1,62.1,56.0,552,4.30,4.33,2.68
53636,53637,0.30,Ideal,D,SI1,61.6,57.0,552,4.28,4.32,2.65
53637,53638,0.30,Very Good,D,SI1,62.5,57.0,552,4.26,4.28,2.67
53638,53639,0.30,Ideal,D,SI1,61.0,57.0,552,4.29,4.33,2.63
53639,53640,0.30,Ideal,D,SI1,61.0,56.0,552,4.35,4.37,2.66

###### 8.  Write a Pandas program to find the details of the diamonds where length>5, width>5 and depth>5.

In [15]:
### code here 
df[(df.x > 5) & (df.y > 5) & (df.z > 5)]

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
11778,11779,1.83,Fair,J,I1,70.0,58.0,5083,7.34,7.28,5.12
13002,13003,2.14,Fair,J,I1,69.4,57.0,5405,7.74,7.70,5.36
13118,13119,2.15,Fair,J,I1,65.5,57.0,5430,8.01,7.95,5.23
13562,13563,1.96,Fair,F,I1,66.6,60.0,5554,7.59,7.56,5.04
13757,13758,2.22,Fair,J,I1,66.7,56.0,5607,8.04,8.02,5.36
...,...,...,...,...,...,...,...,...,...,...,...
27748,27749,2.00,Very Good,G,SI1,63.5,56.0,18818,7.90,7.97,5.04
27749,27750,2.29,Premium,I,VS2,60.8,60.0,18823,8.50,8.47,5.16
48410,48411,0.51,Very Good,E,VS1,61.8,54.7,1970,5.12,5.15,31.80
49189,49190,0.51,Ideal,E,VS1,61.8,55.0,2075,5.15,31.80,5.12
49905,49906,0.50,Very Good,G,VVS1,63.7,58.0,2180,5.01,5.04,5.06

###### 9. Write a Pandas program to calculate the mean of each row of diamonds DataFrame.

In [16]:
### code here
df.mean(axis=1)

c:\users\gsind\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

0          56.76125
1          57.38125
2          57.82000
3          58.71875
4          59.13125
            ...
53935    7103.31625
53936    7103.48375
53937    7104.17500
53938    7103.98375
53939    7103.78625
Length: 53940, dtype: float64

###### 10. Write a Pandas program to calculate the mean of price for each cut  and find maximum top 3 of diamonds DataFrame.

In [17]:
#### code here
df.groupby('cut').price.mean()

cut
Fair         4358.757764
Good         3928.864452
Ideal        3457.541970
Premium      4584.257704
Very Good    3981.759891
Name: price, dtype: float64

##### 11. Write a Pandas program to calculate count, minimum, maximum price for each cut of diamonds DataFrame.

In [18]:
### code here
df.groupby('cut').price.agg(['min','max','count'])

           min    max  count
cut
Fair       337  18574   1610
Good       327  18788   4906
Ideal      326  18806  21551
Premium    326  18823  13791
Very Good  336  18818  12082

###### 12. Write a Pandas program to display and count the unique values in cut series of diamonds DataFrame.

In [19]:
### code here
df['cut'].unique()

array(['Ideal', 'Premium', 'Good', 'Very Good', 'Fair'], dtype=object)

#### 13.  Write a Pandas program to count the number of missing values in each Series of diamonds DataFrame.

In [20]:
### code here
df.isna().sum()

Unnamed: 0    0
carat         0
cut           0
color         0
clarity       0
depth         0
table         0
price         0
x             0
y             0
z             0
dtype: int64

###### 14. Write a Pandas program to calculate the multiply of x, y and z for each cut of diamonds DataFrame.

In [21]:
### code here
df['Mul']=df['x']*df['y']*df['z']
df

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z,Mul
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,38.202030
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,34.505856
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,38.076885
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,46.724580
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,51.917250
...,...,...,...,...,...,...,...,...,...,...,...,...
53935,53936,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50,115.920000
53936,53937,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61,118.110175
53937,53938,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56,114.449728
53938,53939,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74,140.766120
53939,53940,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64,124.568444

##### 15. Write a Pandas program to read rows 0 through 2 (inclusive), columns â€˜colorâ€™ and â€˜priceâ€™ of diamonds DataFrame.

In [22]:
## code here
df.loc[0:2,['color','price']]

  color  price
0     E    326
1     E    326
2     E    327

###### 16. Write a Pandas program to read rows in positions 0 and 1, columns in positions 0 and 3 of diamonds DataFrame.

In [23]:
### code here
df.iloc[0:2,[0,3]]

   Unnamed: 0 color
0           1     E
1           2     E

##### 17. Write a Pandas program to get randomly sample rows from diamonds DataFrame.

In [24]:
### code here
df.sample()

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z,Mul
40893,40894,0.51,Ideal,E,SI2,62.7,53.0,1177,5.09,5.12,3.2,83.39456

###### 18. Write a Pandas program to get sample 75% of the diamonds DataFrame's rows without replacement and store the remaining 25% of the rows in another DataFrame.

In [25]:
### code here
print("Original Dataframe:")
print(df.shape)
print("\nSample 75% of diamonds DataFrame's rows without replacement:")
result = df.sample(frac=0.75, random_state=99)
print(result)
print("\nRemaining 25% of the rows:")
print(df.loc[~df.index.isin(result.index), :])

Original Dataframe:
(53940, 12)

Sample 75% of diamonds DataFrame's rows without replacement:
       Unnamed: 0  carat        cut color clarity  depth  table  price     x  \
42653       42654   0.40    Premium     G      IF   60.8   58.0   1333  4.73
4069         4070   0.31  Very Good     D     SI1   63.0   55.0    571  4.32
27580       27581   1.60      Ideal     F     VS2   62.0   55.0  18421  7.49
33605       33606   0.31       Good     D     SI2   63.1   54.0    462  4.33
34415       34416   0.30      Ideal     G      IF   61.2   57.0    863  4.35
...           ...    ...        ...   ...     ...    ...    ...    ...   ...
4677         4678   1.05    Premium     F     SI2   61.1   59.0   3672  6.54
34855       34856   0.30       Good     G    VVS2   63.8   56.0    878  4.29
13929       13930   2.00       Fair     I      I1   66.0   60.0   5667  7.78
31091       31092   0.33  Very Good     G    VVS2   62.8   57.0    752  4.39
41428       41429   0.53  Very Good     E     SI2   63.2   54.0   1227  5.19

          y     z         Mul
42653  4.77  2.89   65.204469
4069   4.34  2.73   51.184224
27580  7.54  4.66  263.171636
33605  4.38  2.75   52.154850
34415  4.38  2.67   50.871510
...     ...   ...         ...
4677   6.61  4.02  173.782188
34855  4.27  2.73   50.008959
13929  7.74  5.10  307.107720
31091  4.47  2.78   54.552774
41428  5.16  3.27   87.571908

[40455 rows x 12 columns]

Remaining 25% of the rows:
       Unnamed: 0  carat        cut color clarity  depth  table  price     x  \
13             14   0.31      Ideal     J     SI2   62.2   54.0    344  4.35
14             15   0.20    Premium     E     SI2   60.2   62.0    345  3.79
18             19   0.30       Good     J     SI1   63.8   56.0    351  4.23
26             27   0.24    Premium     I     VS1   62.5   57.0    355  3.97
33             34   0.23  Very Good     E     VS1   59.5   58.0    402  4.01
...           ...    ...        ...   ...     ...    ...    ...    ...   ...
53919       53920   0.76      Ideal     I    VVS1   62.2   55.0   2753  5.89
53923       53924   0.73      Ideal     I     VS2   61.3   56.0   2756  5.80
53926       53927   0.71      Ideal     E     SI1   61.9   56.0   2756  5.71
53934       53935   0.72    Premium     D     SI1   62.7   59.0   2757  5.69
53935       53936   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75

          y     z         Mul
13     4.37  2.71   51.515745
14     3.75  2.27   32.262375
18     4.26  2.71   48.833658
26     3.94  2.47   38.635246
33     4.06  2.40   39.073440
...     ...   ...         ...
53919  5.87  3.66  126.541938
53923  5.84  3.57  120.923040
53926  5.73  3.54  115.822782
53934  5.73  3.58  116.721246
53935  5.76  3.50  115.920000

[13485 rows x 12 columns]

###### 19. Write a Pandas program to read the diamonds DataFrame and detect duplicate color.

In [26]:
#### code here
df['color'].drop_duplicates()

0     E
3     I
4     J
7     H
12    F
25    G
28    D
Name: color, dtype: object

###### 20. Write a Pandas program to count the duplicate rows of diamonds DataFrame.

In [28]:
#### code here
df.drop_duplicates()

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z,Mul
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,38.202030
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,34.505856
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,38.076885
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,46.724580
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,51.917250
...,...,...,...,...,...,...,...,...,...,...,...,...
53935,53936,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50,115.920000
53936,53937,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61,118.110175
53937,53938,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56,114.449728
53938,53939,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74,140.766120
53939,53940,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64,124.568444